* 
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 10px;
}

.gameBox
{
    display: none;
}

.header
{
    width: 100%;
    background-color: rgb(43, 0, 47);
    min-height: 30%;
    padding: 15px;
    margin-bottom: 10px;
}
.main
{
    display: block;
    width: 90%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    
}

.game-play
{
    font-size: 10pt;
}
.flexBoard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    position: relative;
    margin: 0 auto;
    background-color: #FAFAFA;
    border: 1px solid #000;
}

.row1
{
    min-height: 75px;
    max-height: 75px;
    min-width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.row2
{
    min-height: 75px;
    max-height: 75px;
    min-width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.row3
{
    min-height: 75px;
    max-height: 75px;
    min-width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cell1
{
    width: 75px;
    height: 75px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #333;
}

.cell2
{
    width: 75px;
    height: 75px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell3
{
    width: 75px;
    height: 75px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #333;
}

.cell1, .cell2, .cell3
{
    font-size: 56pt;
    text-transform: scale(100, 100);
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.caption
{
   display: inline-flex;
}

.result
{
    position: relative;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-top: 15px;
}

hr
{
    border: 1px solid green;
    background-color: green;
    width: 100%;
}